/*
Artigo : Contraste de cores
Autor : Orivelton Cesar - www.orivelton.com.br
*/

* {margin: 0; padding: 0} img {border : 0}
body {
   font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
/*START - Barra de Acessibilidade*/
.row {
  width: 100%;
  overflow: hidden;
}

.container {
  width: 1024px;
  margin: auto;
  overflow: hidden;
  display: block;
}

nav ul li {
  float: left;
  list-style: none;
  padding: 0.5% 1%;
  border-right: 1px solid #FFFFFF;
}

.acessibilidade nav ul li:last-child {
  border-right: none;
}


nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 0.8em;
}

nav ul li a:hover {
  text-decoration: underline;;
}

.acessibilidade nav ul li a:after {
  display: inline-block;
  content: "⬤";
  font-size: 1em;
  margin-left: 0.6em;
}

.acessibilidade nav ul li:nth-child(1) a:after,
.acessibilidade nav ul li:nth-child(2) a:after,
.acessibilidade nav ul li:nth-child(3) a:after {
  content: "▼";
}

.acessibilidade nav ul li:nth-child(4) a:after {
  display: none;
}

.acessibilidade nav ul li:nth-child(5) a:after {
  color: #FFFFFF;
}
.acessibilidade nav ul li:nth-child(6) a:after {
  color: #092747;
}

.bottom-border {
  border-bottom: 1px solid #FFFFFF;
}
/*END - Barra de Acessibilidade*/
/*START - Menu*/
header h1 {
  width: 25%;
  color: #FFFFFF;
  padding: 0.2em 0;
}

header nav {
  width: 75%;
}

header nav ul {
  display: flex;
}

header nav ul li{
  padding: 1em;
  border-right: 0;
}
/*END - Menu*/
/*START - background CORES (Defalt)*/
.bck-green {
  background: #6c9283;
}

.bck-black {
  background: #444643;
}
/*END - background CORES (Defalt)*/


/*START - Contraste Branco*/
#contrasteBranco .bck-green {
  background: #FFFFFF;
}

#contrasteBranco nav ul li a,
#contrasteBranco h1 {
  color: #000000;
}

#contrasteBranco .bottom-border,
#contrasteBranco  nav ul li {
  border-color: #000000;
}
/*END - Contraste Branco*/
/*START - Contraste Preto*/
#contrastePreto .bck-green {
  background: #000000;
}
/*END - Contraste Preto*/
/*START - Contraste Azul*/
#contrasteAzul .bck-green {
  background: #092747;
}
/*END - Contraste Azul*/



/*START - Utilidades Globais*/
.fr {
  float: right;
}

.fl {
  float: left;
}
/*END - Utilidades Globais*/

/*START - */
/*END - */
